.liverMassCalc {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
  }
  
  .liverMassCalc label {
    padding: 5px;
    cursor: pointer;
    -webkit-appearance: button;
    /* WebKit */
    -moz-appearance: button;
    /* Mozilla */
    -o-appearance: button;
    /* Opera */
    -ms-appearance: button;
    /* Internet Explorer */
    appearance: button;
    /* CSS3 */
  }
  
  input[type="radio"] {
    display: none;
  }      
  
  input:checked + label {
      background:lightblue;
  }
  
  .divContainer label {
    display: inline-block;
    background-color: #ffffff;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
    border-style: solid;
  }      
  
  span {
    font-size: 14px;
  }
  
  label:hover {
    color: #AAAAAA;
  }
  
  .answerWithBorder {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: 1px gray;
    border-left: 6px solid black;
    outline: none;
  }
  
  ::selection {
    background: lightblue;
  }
  
  .answerWithNoBorder {
   border: none;
   outline: none;
  }
  
  #answer {
    /*border: none;*/
    font-size: 16px;
    /*outline: none;*/
  }

  .hidden {
      display: none;
  }
  
  .visible {
    display: block;
  }