<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="page-scroll" href="#begin">How It All Began</a>
        </li>
        <li>
            <a class="page-scroll" href="#thetrip">The Trip</a>
        </li>
        <li>
            <a class="page-scroll" href="#pictures">Pictures</a>
        </li>
        <li>
            <a class="page-scroll" href="#highlights">The Good Times</a>
        </li>
        <li>
            <a class="page-scroll" href="#likes">What I Liked</a>
        </li>
        <li>
            <a class="page-scroll" href="#dislikes">What I Disliked</a>
        </li>
        <li>
            <a class="page-scroll" href="#tips">Tips</a>
        </li>
        <li>
            <a class="page-scroll" href="#final">Final Thoughts</a>
        </li>
    </ul>
</div>